*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'roboto',  sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    background-color: rgb(156, 18, 156);
    color: powderblue;
}

#texte {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 2rem;
   }

   h1{
    font-size: 5.6rem;
   }